/*---------------------------------------------
  MAIN CONTENT 
  -------------------------------------------*/

body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  overflow-x:hidden;
  overflow-y:scroll;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/*
@media (min-width: 414px) {
}

@media (min-width: 768px) {
  .container {
    margin-top: 80px;
  }
}

@media (min-width: 1200px) {
  .separator {
    margin: 200px 0px;
  }

  .separator-top a, .separator-top a img,  
  .separator a, .separator a img,
  .separator-top div a, .separator div a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .main-content .separator, .main-content .separator-top {
    text-align: center;
  }
}

.profile-picture {
  display: block;
  margin: 0 auto;
}
*/

@media (min-width: 1200px) {
nav {
  margin-left: 200px;
  margin-top: 50px;
}

.container {
  margin: 50px 200px 0;
}


}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 10px;
}

nav {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
}

nav ul {
  list-style-type: none;
}

nav a {
  width: 300px;
  color: white;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  height: 40px;
  line-height: 40px;
  position: relative;
  list-style-type: none;
  text-decoration: none;
}

nav .active a {
  text-decoration: underline;
}

nav a:hover {
  color: white;
  text-decoration: underline;

}

.main-content {
  position: relative;
  margin-left: 300px;
  padding: 12px;
  background-color: rgba(0,0,0,0.7);
  overflow-y: hidden;
  overflow-x: hidden;
}

.main-content h3 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}

.main-content h4 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
}

.main-content > div {
  margin-bottom: 40px;
}

.work-history h4 {
  color: #b3d4fc;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 15px;
}

.work-history h5 {
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.work-history ul li {
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
}

.contacts h5 {
  margin-top: 10px;
  font-size: 16px;
}

.contacts a {
  padding: 0em 0.2em;
}



/*
#home {
  float:right;
}

#home button {
  margin-right: 5px;
  color: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.2) !important;
}

.separator {
  border-top: 1px solid rgba(255,255,255,0.6);
}

.separator-top,
.separator {
  padding: 20px 0px;
  height: 270px;
}

.separator-top div a,
.separator div a {
  color: white;
  font-weight: bold;
  font-size:18px;
}

.separator-top div a i,
.separator div a i {
  margin-left: 10px;
}

.separator-top div p,
.separator div p {
  margin-top: 8px;
}

.separator-top a,
.separator-top a img,  
.separator a,
.separator a img {
  height:100%;
}


.resume-skills {
  margin-bottom: 30px;
}

.work-history div {
  margin-bottom: 25px;
}

.work-history div h4 {
  color: #b3d4fc;

  font-weight: normal;
  margin-bottom: 0;
}

.work-history div h4 span {
  color: white;
  font-size: 16px;
  font-style: italic;
}

.work-history div h5 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-style: italic;
}

.work-history div ul {
  font-size: 14px;
  padding-left: 30px;
  font-weight: normal;
}

.work-history div ul li {
  margin-bottom: 5px;
}

#photography {
  height:230px;
  overflow: hidden;
}

.form-group .text-disable {
    cursor: not-allowed;
    background-color: #EEE;
    color: #9E9999;
}

.main-content::-webkit-scrollbar {
  width: 12px;
}*/

/*---------------------------------------------
  FONT AWESOME 
  -------------------------------------------*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  font-size: 18px;
  color: #337ab7;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: none;
  display: inline-block;
  speak: none;
}

[class^="icon-"]:hover,
[class*=" icon-"]:hover {
  color: #1A3D5C;
}

.icon-github:before, .icon-linkedin:before, .icon-instagram:before {
  font-size: 1.5em;
}

.icon-github:before {
  content: "\f092";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-instagram:before {
  content: "\f16d";
}


