/*---------------------------------------------
  MAIN CONTENT 
  -------------------------------------------*/

body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

@media (min-width: 414px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  nav {
    margin-left: 200px;
    margin-top: 50px;
  }

  .container {
    margin: 50px 200px 0;
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 10px;
}

nav {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
}

nav ul {
  list-style-type: none;
}

nav a {
  width: 300px;
  color: white;
  display: block;
  font-size: 25px;
  height: 40px;
  line-height: 40px;
  position: relative;
  list-style-type: none;
  text-decoration: none;
}

nav .active a {
  text-decoration: underline;
}

nav a:hover {
  color: white;
  text-decoration: underline;

}

.main-content {
  position: relative;
  margin-left: 300px;
  padding: 12px;
  background-color: rgba(0,0,0,0.7);
  overflow-y: hidden;
  overflow-x: hidden;
}

.main-content h3 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}

.main-content h4 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
}

.profile img {
  height: 300px;
  width: auto;
}

.profile p {
  line-height: 25px;
}

.resume-skills {
  margin-bottom: 30px;
}

.work-history h4 {
  color: #b3d4fc;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 15px;
}

.work-history h5 {
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.work-history ul li {
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
}

.separator {
  border-top: 1px solid rgba(255,255,255,0.6);
  padding: 20px;
}

.separator:first-child {
  border-top: none;
}

.separator > div {
  display: inline-block;
}

.section-picture {
  width: 30%;
}

.section-picture img {
  width: 100%;
  height: auto;
}

.section-description {
  width: 60%;
  float: right;
}

.section-description a {
  display: inline-block;
  margin-right: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.section-description a:hover {
  color: white;
  text-decoration: underline;
}

.contacts h5 {
  margin-top: 10px;
  font-size: 16px;
}

.contacts a {
  padding: 0em 0.2em;
}


/*---------------------------------------------
  FONT AWESOME 
  -------------------------------------------*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin-right: 2px;
  font-size: 30px;
  color: #337ab7;
}

[class^="icon-"]:before {
  text-decoration: none;
  display: inline-block;
  speak: none;
}

[class^="icon-"]:hover {
  color: #1A3D5C;
}

.icon-github:before {
  content: "\f092";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-instagram:before {
  content: "\f16d";
}
